<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6>Register Yourself</h6>
                </div>
                <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">userName</label>
                        <input formControlName="userName" type="text" class="form-control" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">userFirstName</label>
                        <input formControlName="userFirstName" type="text" class="form-control" >
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">userLastName</label>
                        <input formControlName="userLastName" type="email" class="form-control" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">userPassword</label>
                        <input formControlName="userPassword" type="password" class="form-control" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>   
                </form>
                <a style="color: #fff; margin-top: 10px;" routerLink="/login">Already registered? Click to Login</a>
            </div>
        </div>
    </div>
</div>

